.nav_menu{
    box-shadow: 0px 6px 15px 0px #c5c5c5;
    border-left: 5px solid aqua;
    border-bottom: 5px solid #2A2A3E;
    /*border: 1px solid #2A2A3E;*/
}
.sidebar-footer a {
    padding: 7px 0 3px;
    text-align: center;
    width: 25%;
    font-size: 17px;
    display: block;
    float: left;
    background: #2A2A3E;
    cursor: pointer;
}
.active {
    box-shadow: 0px 0px 1px 0px #080808;
}

.back-link a {
    color: #4ca340;
    text-decoration: none;
    border-bottom: 1px #4ca340 solid;
}
.back-link a:hover,
.back-link a:focus {
    color: #408536;
    text-decoration: none;
    border-bottom: 1px #408536 solid;
}


#pharmacy_name{
    border-radius: 13px;
    -webkit-animation-name: iC;
    -webkit-animation-delay: .010s;
    -webkit-animation-duration: 1s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: iC;
    -moz-animation-delay: .010s;
    -moz-animation-duration: 1s;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: iC;
    -o-animation-delay: .010s;
    -o-animation-duration: 1s;
    -o-animation-direction: alternate;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    animation-name: iC;
    animation-delay: .010s;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: white;
    font-size: 22px;
    font-weight: 700
}
@-webkit-keyframes iC{
    from{
        background-color: transparent;
    }
    to{background-color: transparent}
}@-moz-keyframes iC{
    from{background-color: transparent}
    to{background-color: transparent}
}@-o-keyframes iC{
    from{background-color: transparent}
    to{background-color: transparent}
}@keyframes iC{
    from{background-color: transparent}
    to{
        background-color: aqua;
    }
}



.nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #1ABB9C
}
.nav-sm ul.nav.child_menu ul,
.nav-sm .nav.side-menu li.active-sm ul ul {
    position: static;
    width: 200px;
    background: none
}
.nav-sm>.nav.side-menu>li.active-sm>a {
    color: #1ABB9C !important
}
.nav-sm .nav.side-menu li a i.toggle-up {
    display: none !important
}
.nav-sm .nav.side-menu li a i {
    font-size: 25px !important;
    text-align: center;
    width: 100% !important;
    margin-bottom: 5px
}
.nav-sm ul.nav.child_menu {
    left: 100%;
    position: absolute;
    top: 0;
    width: 210px;
    z-index: 4000;
    background: #3E5367;
    display: none
}
.nav-sm ul.nav.child_menu li {
    padding: 0 10px
}
.nav-sm ul.nav.child_menu li a {
    text-align: left !important
}


.nav.child_menu {
    display: none
}
.nav.child_menu li:hover,
.nav.child_menu li.active {
    background-color: rgba(255, 255, 255, 0.06)
}
.nav.child_menu li {
    padding-left: 36px
}
.nav-md ul.nav.child_menu li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%
}
.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0
}
.nav-md ul.nav.child_menu li:last-child::after {
  bottom: 50%;
}
.nav.side-menu>li>a,
.nav.child_menu>li>a {
    color: #E7E7E7;
    font-weight: 500
}
.nav.child_menu li li:hover,
.nav.child_menu li li.active {
    background: none
}
.nav.child_menu li li a:hover,
.nav.child_menu li li a.active {
    color: #fff
}

.nav.child_menu>li>a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    padding: 9px
}